body{
    font-family: "Inconsolata", monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    /* text-align: center; */
    width: 500px;
}

.kotak-input {
    display: block;
    resize: none;
    margin: 10px auto;
}

p > span {
    color: coral;
    font-weight: bold;
}

.mode-gelap {
    background-color: #171b25;
    color: #EBECF7;
}

.mode-gelap .kotak-input{
    background-color: #2e3443;
    color: #EBECF7;
}

.mode-gelap button{
    background-color: #29ddcc;
    border: none;
}